<!DOCTYPE HTML>
<html lang="en" ng-app="whacAMole">
<head>
    <meta charset="utf-8">
    <meta author="wheat">
    <meta content="mole, game, wheat, angularjs, jquery, bootstrap, have fun" http-equiv="Keywords">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/whacamouse.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/whacAMole.js"></script>
    <script src="lib/jquery-1.7.2.js"></script>
    <script src="lib/bootstrap.js"></script>
    <title>Whac A Mole</title>
</head>
<body>

<div ng-controller="PlayController" class="game-area container well row">
    <h1 class="game-name">打我啊，笨蛋！</h1>
    <div class="row" style="margin-left:-18px;">
        <span ng-repeat="shrewmouse in shrewmouses" ng-click="hit(shrewmouse.index)" class="mouse-hole span" ng-class="{out:shrewmouse.out}"></span>
    </div>
    <div>
        <button class="btn btn-primary" ng-show="!game.status" ng-click="start(1)">开始</button>
        <button class="btn btn-danger" ng-show="game.status" ng-click="stop(1)">暂停</button>
        <button class="btn btn-success" ng-click="reset()">重玩</button>
        <select id="level_select" ng-change="selectLevel()" ng-model="levelTimer" ng-options="value.timer as value.label for value in levels" class="level-select div-align" ng-disabled="!game.select">
        </select>
        <span class="pull-right div-align">时间：{{game.time}}s</span>
        <span class="pull-right div-align" style="margin-right: 10px;">得分：{{game.score}}</span>
    </div>
    
    
    <!-- dialog modals -->
    <div id="stopModal" class="modal hide fade" data-backdrop="false">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p>Advertisement…</p>
        </div>
    </div>
    
    <div id="gameOverModal" class="modal hide fade" data-backdrop="false">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p>难度:{{levelLabel}}</p>
            <p>得分:{{game.score}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <span id="share_button"></span>
        </div>
    </div>
</div>
</body>
</html>